<!DOCTYPE html>
<html>
<head>
<meta content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="home.css">
<!-- javascript link as well -->
</head>
<body>

<img alt="Insert Logo Here"><br>
<!-- add the actual image here-->
<br>

<div class="body">
<form class="form-inline">
    <!-- Send to somewhere, like with: action="/action_page.php" -->
  <p>
      <button type="submit">Add</button>
      <button type="submit">Search</button>
  </p>
  <p>
      <button type="submit">Admin</button>
      <button type="submit">Edit</button>
  </p>
</form>
</div>

</body>
</html>
