<!DOCTYPE html>
<html>
<head>
<meta content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="record.css">
<!-- javascript link as well -->
</head>
<body>

<img alt="Insert Logo Here"><br>
<!-- add the actual image here-->
<br>

<div class="body">
<form class="form-inline">
    <!-- Send to somewhere, like with: action="/action_page.php" -->
    <select name="search" id="search">
        <option value="id">Employee ID</option>
        <option value="lastName">Last Name</option>
    </select>
    <input type="text" id="keyword" placeholder="Enter search term" name="keyword">
    <button type="submit" id="submit" margin=10px>Submit</button>
    <br>
    <br>
    <!-- <textarea id="results" name="results" rows="4" cols="50"></textarea> -->
    <ul id="results">
        <li><a href="#">No Results</a></li>
        <!-- fill in results as search, link them to actual things, use script to populate this, find a way to cap limit of results? -->
    </ul>
    <br>
    <button type="submit" id="delete" margin=10px>Delete</button>
    <button type="submit" id="edit" margin=10px>Edit</button>
    <button type="submit" id="back" margin=10px>Back</button>
</form>
</div>

</body>
</html>
